.navbar {
    width: 100%;
    height: 75px;
    background-color: #FFB534;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
}

.logo {
    margin-left: 30px;
    font-size: 20px;
    font-weight: 600;
}

.basket-logo {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fee3b3;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.basket-logo:hover {
    transition: all .4s;
    cursor: pointer;
    background-color: #ffa200;
}